body {
  margin: 16px;
  background-color: #f3f3f3;
  color: #222222;
  font-family: sans-serif;
  transition: background 0.9s ease-in;
}
.img-look {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
}
.img-look-inv {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 32px;
  -webkit-box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
}
.page-top {
  font-size: 10px;
  color: #777777;
  letter-spacing: 3px;
  text-align: right;
  padding: 0 0px 12px;
}
.page-title {
  background-color: #777777;
  color: #88ff00;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 16px;
  padding: 16px;
  text-align: right;
  margin: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 32px;
  -webkit-box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
}
header nav {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
header nav.hidded {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in-out;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  width: 30%;
  margin: 0 12px 32px 0;
  height: 26vw;
  min-height: 280px;
  background-color: white;
  overflow: hidden;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
}
@media (max-width: 768px) {
  header nav ul li {
    width: 96%;
    margin: 0 auto 32px auto;
    height: 61vw;
    min-height: 280px;
  }
}
header nav ul li img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header nav ul li img.cover {
  object-fit: cover;
}
header nav ul li a {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 47%;
  right: 18px;
  background-color: #88ff00b9;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  color: #444444;
  padding: 8px 20px;
  font-weight: 200;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
}
header nav ul li a:hover {
  background-color: #000000;
  color: white;
  transition: all 0.4s ease-in-out;
}
#app > div {
  padding: 36px 16px;
  transition: opacity 1s ease-in;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 80%;
}
@media (max-width: 768px) {
  #app > div {
    max-width: 100%;
  }
}
#app > div h3 {
  margin-bottom: 120px;
}
#app > div p {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
}
h3 {
  font-weight: 400;
  font-size: 26px;
}
.back {
  display: none;
  cursor: pointer;
  border-radius: 16px;
  opacity: 0.7;
  width: auto;
  font-size: 0;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #00000022, 2px 5px 16px 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  transition: opacity 0.7s;
  float: right;
  margin-top: 16px;
}
.back:hover {
  opacity: 1;
  transition: opacity 0.7s;
}
.back img {
  width: 220px !important;
}
